[submodule "csl-js"]
	path = legacy/csl-js
	url = git@github.com:rabbitom/csl-js.git
[submodule "csl-java"]
	path = legacy/csl-java
	url = git@github.com:rabbitom/csl-java.git
[submodule "csl-js-android"]
	path = legacy/csl-js-android
	url = git@github.com:rabbitom/csl-js-android.git
[submodule "csl-cs"]
	path = legacy/csl-cs
	url = git@github.com:rabbitom/csl-cs.git
