[submodule "csl-js"]
	path = csl-js
	url = git@github.com:rabbitom/csl-js.git
[submodule "csl-java"]
	path = csl-java
	url = git@github.com:rabbitom/csl-java.git
[submodule "csl-js-android"]
	path = csl-js-android
	url = git@github.com:rabbitom/csl-js-android.git
